{% extends 'main_base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}Meme{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
<style>
  .meme-detailed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .meme-detailed img {
    max-height: 70vh;
  }
  .meme-description p {
    margin: 0;
  }
</style>
{% endblock %}

{% block content %}
<div class="meme-detailed">
  <a href="/profile/{{meme.username}}" id="profile-username" data-username-color="{{meme.username_colour}}">{{meme.username}}</a>
  <img class="rounded mw-100" src="{{meme.url}}" alt="Meme {{meme.url}} image">
  <div class="meme-description">
    {{ meme_comps.meme_tags(meme.tags) }}
    <p title="Posted at {{meme.formatted_date}}">{{ meme.relative_date }}</p>
    {{ meme_comps.meme_like_button(meme) }}
  </div>
  <a href="{{meme.url}}" download="meme{{meme.id}}" class="btn btn-primary">Download</a>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="module" src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
{% endblock %}