{% extends 'base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}Meme{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
<style>
  .meme-detailed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .meme-detailed img {
    max-height: 70vh;
  }
  .meme-description p {
    margin: 0;
  }
</style>
{% endblock %}

{% block body %}
<div class="meme-detailed mt-2">
  <a href="/profile/{{meme.username}}" {% if meme.username == 'azaher1126' %} style="color: gold;" {% endif %}>{{meme.username}}</a>
  <img class="rounded mw-100" src="../{{meme.url}}">
  <div class="meme-description">
    {{ meme_comps.meme_tags(meme.tags) }}
    <p>{{ meme.date }}</p>
    <div class="like-container">
      {% if meme.liked %}
      <button class="like-button" id='like_button{{meme.id}}' onclick="unlike('{{meme.id}}')">
        <span id='heart{{meme.id}}' class="fas fa-heart" aria-hidden="true"></span>
      </button>
      {% else %}
      <button class="like-button" id='like_button{{meme.id}}' onclick="like('{{meme.id}}')"><span id='heart{{meme.id}}'
          class="far fa-heart" aria-hidden="true"></span></button>
      {% endif %}
      <p id='like_count{{meme.id}}' style="float: right;">{{meme.likes}}</p>
    </div>
  </div>
  <a href="../{{meme.url}}" download="meme{{meme.id}}" class="btn btn-primary">Download</a>
</div>

{% endblock %}