{% extends 'main_base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}Meme{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center font-size-1-12">
  <div class="d-flex flex-column">
    <a href="/profile/{{meme.username}}" id="profile-username"
      data-username-color="{{meme.username_colour}}">{{meme.username}}</a>
    <img class="rounded mw-100 mh-70vh" src="{{meme.url}}" alt="Meme {{meme.url}} image">
    <div class="d-flex flex-nowrap align-items-center justify-content-between">
      {{ meme_comps.meme_tags(meme.tags) }}
      <p class="m-0" title="Posted at {{meme.formatted_date}}">{{ meme.relative_date }}</p>
      <div class="d-flex">
        {{ meme_comps.meme_like_button(meme) }}
        <a href="{{meme.url}}" download="meme{{meme.id}}" class="mx-1 white-icon-button icon-button">
          <svg class="square-1-12" fill="currentColor">
            <use href="{{url_for('static', filename='sprites/meme-icons.svg')}}#download-icon"></use>
          </svg>
        </a>
        {% if meme.user_id == current_user.id %}
        <button class="link-danger icon-button" data-bs-toggle="modal" data-bs-target="#deleteModal">
          <svg class="square-1-12" fill="currentColor">
            <use href="{{url_for('static', filename='sprites/meme-icons.svg')}}#trash-icon"></use>
          </svg>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="Delete Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you'd like to delete this meme? This action is irreversible.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="/delete" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="id" value="{{meme.id}}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="module" src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
{% endblock %}