{% extends 'base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}{{res['search']}}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
{% endblock %}

{% block body %}
<h3 class="m-0">Search Results For: {{res['search']}}</h3>
<div id="memes" class="meme-container">
    {% for meme in res['memes'] %}
        {{ meme_comps.meme_preview(meme) }}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
<script>
    window.last_meme_id = '{{ "undefined" if res["memes"]|length == 0 else res["memes"][-1].id }}';
    document.getElementById('memes').addEventListener('scroll', function () {
      load_new_page();
    }, {
      passive: true
    });
  </script>
  {% endblock %}