{% extends 'base.html' %}

{% block title %}| {{res['search']}}{% endblock %}

{% block body %}
<h3 style="margin-top: 16px; margin-left: 24px;">
    Search Results For: {{res['search']}}</h3>
{% for meme in res['memes'] %}
<div class="meme">
    <div>
        <a href="/profile/{{meme.username}}">
            <p {% if meme.username == 'azaher1126' %} style="color: gold;" {% endif %}>{{meme.username}}</p>
        </a>
        <a href="/meme/{{meme.id}}" style="text-decoration: none">
            <img class="rounded" style="margin-top: -16px;" src="{{meme.url}}" width="300px" height="300px">
        </a>
        <p id="tags" style="float: left;">
            Tags: {% for tag in meme.tags %} {{tag}} {% endfor %}
        </p>
        <div style="float: right;">
            {% if current_user.id in meme.liked %}
            <a id='like_button{{meme.id}}' href="javascript:unlike({{meme.id}})" style="float:left;">
                <span id='heart{{meme.id}}' class="fas fa-heart" aria-hidden="true"></span>
            </a>
            {% else %}
            <a id='like_button{{meme.id}}' href="javascript:like({{meme.id}})" style="float:left;"><span
                    id='heart{{meme.id}}' class="far fa-heart" aria-hidden="true"></span></a>
            {% endif %}
            <p id='like_count{{meme.id}}' style="float: left;">{{meme.likes}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}