{% extends 'main_base.html' %}
{% block title %}Upload{% endblock %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<style>
  .upload-form {
    max-width: 400px;
    text-align: center;
  }
  .image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
  }

  .image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
  }

  .image-area img {
    z-index: 2;
    position: relative;
  }

  .image-area img[src="#"] {
    opacity: 0;
  }

  .tagify {
    text-align: left;
    margin-bottom: 0.25rem;
  }
</style>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column w-100 align-items-center">
    <h2>Meme Upload</h2>
      <form class="upload-form" method="POST" enctype="multipart/form-data">
        {{ upload_form.csrf_token }}
        <div class="input-group px-2 py-2 rounded-pill bg-white shadow-sm">
          <div class="input-group-append">
            {{ upload_form.meme(id="file-upload", class="form-control border-0") }}
          </div>
        </div>

        <!-- Uploaded image area-->
        <div class="image-area my-2">
          <img id="imageResult" src="" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
        </div>

        {{ upload_form.tags(class="form-control", placeholder="Tags") }}
        {{ upload_form.submit(class="btn btn-primary") }}
      </form>
  </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/upload-script.js') }}"></script>
{% endblock %}