{% extends 'main_base.html' %}
{% block title %}Upload{% endblock %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<style>
  .upload-form {
    max-width: max(80%, 400px);
    min-height: 0;
    text-align: center;
  }
  .image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
    min-height: 0;
    width: fit-content;
  }
  .image-area:has(img[src=""]) {
    width: 100%;
  }
  .image-area::before {
    content: 'Uploaded image result';
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
  }
  .image-area img {
    z-index: 2;
    position: relative;
  }
  .tag-container {
    width: min(100%, 400px);
  }
  .tagify {
    text-align: left;
    margin-bottom: 0.25rem;
  }
</style>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column w-100. h-100 align-items-center pb-2">
    <h2>Meme Upload</h2>
      <form class="upload-form needs-validation d-flex flex-column align-items-center" method="POST" enctype="multipart/form-data" novalidate>
        {{ upload_form.csrf_token }}
        <div>
          {{ upload_form.meme(id="file-upload", class="form-control py-3 px-4 rounded-pill bg-white shadow-sm") }}
          <div class="invalid-feedback">Please select a file.</div>
        </div>

        <!-- Uploaded image area-->
        <div class="image-area my-2 d-flex align-items-center justify-content-center">
          <img id="imageResult" src="" alt="" class="img-fluid rounded shadow-sm mh-100 d-block">
        </div>
        <div class="mb-1 tag-container">
          {{ upload_form.tags(class="form-control", placeholder="Tags") }}
          <div class="invalid-feedback">Please enter at least one tag.</div>
        </div>
        {{ upload_form.submit(class="btn btn-primary") }}
      </form>
  </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/upload-script.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/form-script.js') }}"></script>
{% endblock %}