{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="mt-2 text-center">
    <h2>About</h2>
    <p>memebank is a website where users can upload and share memes as well as browse through the
        websites collection of memes! memebank started out as a final project for the CISC 110 course at Queen's University and after submission was further developed to this form!</p>
    <div class="mx-auto text-center" style="max-width: 400px;">
    <h2>Team</h2>
    <table class="table table-dark rounded">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <p class="m-0">Ayman Zaher</p>
                    <p class="m-0">(<a style="color: gold;" href="/profile/azaher1126">azaher1126</a>)</p>
                </th>
                <td>
                    <p class="m-0">Developer</p>
                    <p class="m-0">Founder</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Trevor Parsons</th>
                <td>Founder</td>
            </tr>
            <tr>
                <th scope="row">Hunter Kalamut</th>
                <td>Founder</td>
            </tr>
            <tr>
                <th scope="row">Will Wu</th>
                <td>Founder</td>
            </tr>
            <tr>
                <th scope="row">Mark Abraham</th>
                <td>Founder</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}