{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block body %}
<div style="margin-top: 8px; text-align: center;">
    <h2>About</h2>
    <p>memebank is a website where users can upload and share memes as well as browse through the
        websites collection of memes! memebank started out as a final project for CISC 110 and after submission was further developed to this form!</p>
    <p>memebank is currently exclusive to Queen's University and you must have an @queensu.ca email to join.</p>
    <div style="max-width: 400px; margin-right: auto; margin-left:auto; text-align: center;">
    <h2>Team</h2>
    <table class="table table-dark rounded">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><ul style="list-style-type:none; padding: 0;">
                    <li>Ayman Zaher</li>
                    <li>(<a style="color: gold;" href="/profile/azaher1126">azaher1126</a>)</li>
                </ul></th>
                <td>
                    <ul style="list-style-type:none; padding: 0;">
                        <li>Developer</li>
                        <li>Founder</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th scope="row">Trevor Parsons</th>
                <td>Founder</td>
            </tr>
            <tr>
                <th scope="row">Hunter Kalamut</th>
                <td>Founder</td>
            </tr>
            <tr>
                <th scope="row">Will Wu</th>
                <td>Founder</td>
            </tr>
            <tr>
                <th scope="row">Mark Abraham</th>
                <td>Founder</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}