{% extends 'main_base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
{% endblock %}

{% block content %}
<!-- Page content -->
  <div id="memes" class="meme-container">
    {% for meme in memes %}
      {{ meme_comps.meme_preview(meme) }}
    {% endfor %}
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script type="module" src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
{% endblock %}