{% extends 'base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
<style>
  .link-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-family: Roboto;
    padding: 6px;
}
.cursed {
  color: blue;
}
.link-button:focus {
    outline: none;
}
</style>
{% endblock %}

{% block body %}
<script>
  page_num = 1;
  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }
  function load_new_page() {
    img = document.getElementById('like_button' + str(40 + 50 * page_num - 1));
    if (isInViewport(img) == true) {
      page_num += 1;
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", `/getpage?num=${page_num}`);
      xmlHttp.send(null);
      memes = JSON.parse(xmlHttp.responseText)
      body = document.getElementById('memes');
      for (meme in memes) {
        body.innerHTML += '<div class="meme"><div><a href="/profile/' + meme.username + '"><p>' + meme.username + '</p></a><a href="/meme/' + meme.id + '" style="text-decoration: none"><img class="rounded" style="margin-top: -16px;" src="' + meme.url + '" width="300px" height="300px"></a><p id="tags" style="float: left;">Tags: ';
        for (tag in meme.tags) {
          body.innerHTML += tag + ' ';
        }
        body.innerHTML += '</p><div style="float: right;">'
        if ({{ current_user.id}} in meme.liked) {
        body.innerHTML += '<a id="like_button' + meme.id + '" href="javascript:unlike(' + meme.id + ')" style="float:left;"><span id="heart' + meme.id + '" class="fas fa-heart" aria-hidden="true"></span></a>';
      } else {
        body.innerHTML += '<a id="like_button' + meme.id + '" href="javascript:like(' + meme.id + ')" style="float:left;"><span id="heart' + meme.id + '" class="far fa-heart" aria-hidden="true"></span></a>';
      }
      body.innerHTML += '<p id="like_count' + meme.id + '" style="float: left;">' + meme.likes + '</p></div></div></div>';
    }
  }
  }

  document.addEventListener('scroll', function () {
    load_new_page()
  }, {
    passive: true
  });
</script>
<!-- Page content -->
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-2">
      <!--First Col-->
      <div class="bg-dark rounded" style="margin-top: 16px;">
        <h4 style="margin-left: 16px; padding-top: 8px;">Popular Tags</h4>
        <ul class="nav nav-pills flex-column mb-auto" style="margin-left: 24px; padding-bottom: 8px;">
          <li class="nav-item">
            <a href="/search?search=gif" class="link-button">gif</a>
          </li>
          <li class="nav-item">
            <a href="/search?search=funny" class="link-button">funny</a>
          </li>
          <li class="nav-item">
            <a href="/search?search=facebook" class="link-button">facebook</a>
          </li>
          <li class="nav-item">
            <a href="/search?search=cursed" class="link-button cursed">cursed</a>
          </li>
          <li class="nav-item">
            <a href="/search?search=deepFRIED" class="link-button">deepFRIED</a>
          </li>
          <li class="nav-item">
            <a href="/search?search=NSFW" class="link-button">NSFW</a>
          </li>
          <li class="nav-item">
            <a href="/search?search=coding" class="link-button">coding</a>
          </li>
        </ul>
      </div>
    </div>
    <div id='memes' class="col meme-container">
      {% for meme in memes %}
        {{ meme_comps.meme_preview(meme) }}
      {% endfor %}
    </div>
  </div>
<script src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
  {% endblock %}