flask==3.1.2
flask_sqlalchemy==3.1.1
flask_login==0.6.3
jinja2==3.1.6
Flask-Migrate==4.1.0
Flask-WTF==1.2.2
email_validator==2.3.0
python-dotenv==1.2.1
humanize==4.15.0
pillow==12.1.0
pathvalidate==3.3.1
nh3==0.3.2
mistune==3.2.0
