{% macro meme_tags(tags) %}
<div class="tag-container">
    <p>
        Tags:
    </p>
    {% for tag in tags %}
        <a href="/search?search={{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
</div> 
{% endmacro %}

{% macro meme_like_button(meme) %}
    <button data-meme-id="{{meme.id}}" data-liked="{{meme.liked}}" class="like-button">
        <p class="mx-1">{{meme.likes}}</p>
        {% if meme.liked %}
            <span class="fas fa-heart" aria-hidden="true"></span>
        {% else %}
            <span class="far fa-heart" aria-hidden="true"></span>
        {% endif %}
    </button>
{% endmacro%}

{% macro meme_preview(meme) %}
<div class="meme" data-meme-id="{{meme.id}}">
    <a href="/profile/{{meme.username}}" data-username-color="{{meme.username_colour}}" class="meme-username">{{meme.username}}</a>
    <a href="/meme/{{meme.id}}" style="text-decoration: none">
        <img class="rounded" src="{{meme.url}}" width="300px" height="300px" alt="Meme {{meme.url}} image">
    </a>
    <div class="meme-description">
        {{ meme_tags(meme.tags) }}
        {{ meme_like_button(meme) }}
    </div>
</div>
{% endmacro %}