{% macro meme_preview(meme, current_user) %}
<div class="meme">
    <a href="/profile/{{meme.username}}">
        <p {% if meme.username == 'azaher1126' %} style="color: gold;" {% endif %}>{{meme.username}}</p>
    </a>
    <a href="/meme/{{meme.id}}" style="text-decoration: none">
        <img class="rounded" src="{{meme.url}}" width="300px" height="300px">
    </a>
    <p id="tags" style="float: left;">
        Tags: {% for tag in meme.tags %} {{tag.name}} {% endfor %}
    </p>
    <div style="float: right;">
        {% if meme.liked %}
        <button class="like-button" id='like_button{{meme.id}}' onclick="unlike('{{meme.id}}')" style="float:left;">
            <span id='heart{{meme.id}}' class="fas fa-heart" aria-hidden="true"></span>
        </button>
        {% else %}
        <button class="like-button" id='like_button{{meme.id}}' onclick="like('{{ meme.id }}')" style="float:left;"><span
                id='heart{{meme.id}}' class="far fa-heart" aria-hidden="true"></span></button>
        {% endif %}
        <p id='like_count{{meme.id}}' style="float: left;">{{meme.likes}}</p>
    </div>
</div>
{% endmacro %}