.meme-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.meme {
    margin: 0.5rem;
    width: 300px;
}
.meme img {
    aspect-ratio: 1;
}
.like-button, .like-button:hover {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}