.meme-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}
.meme {
    margin: 0.5rem;
    width: 332px;
    background-color: var(--secondary-background-color);
    transition: transform 0.15s ease-in-out;
}
.meme:hover {
    transform: translateY(-4px) scale(1.015);
}
.meme img {
    aspect-ratio: 1.35;
    width: 100%;
    object-fit: cover;
}
.meme p {
    margin: 0;
}
.tag-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.tag-container a {
    margin: 0 0.2rem;
}
.meme-username {
    transition: filter 0.15s ease-in-out;
}
.meme-username:hover {
    filter: brightness(70%)
}