{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account-style.css') }}">
{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center w-100">
  <h3>Login</h3>
  <form method="POST" class="form account-form">
    {{ login_form.csrf_token }}
    <div class="form-group">
      {{ login_form.username_or_email.label }}
      {{ login_form.username_or_email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ login_form.password.label }}
      {{ login_form.password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ login_form.remember_me }}
      {{ login_form.remember_me.label }}
      <div class="text-center">
        {{ login_form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
    <a style="color: blue;" href="/forget_password">Forget your password?</a>
    <p>Don't have an account? <a style="color: blue;" href="/register">Register</a></p>
</div>
{% endblock %}