{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account-style.css') }}">
{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center w-100">
  <h3>Login</h3>
  <form method="POST" class="form account-form">
    <div class="form-group">
      <label for="email">Email Address/Username</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <div class="form-group">
      <label for="remember-me" style="padding-right: 8px;"><span>
          <input id="remember-me" name="remember-me" type="checkbox"></span>
        <span>Remember Me</span></label><br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
    <a style="color: blue;" href="/forget_password">Forget your password?</a>
    <p>Don't have an account? <a style="color: blue;" href="/register">Register</a></p>
</div>
{% endblock %}