{% extends 'base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}{{user.username}}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
{% endblock %}

{%block body %}
<div style="margin: auto; margin-top: 8px; text-align: center;">
    
    <h3 {% if user.username == 'azaher1126' %} style="color: gold;" {% endif %}>{{user.username}}</h3>
    <div id="memes" class="meme-container">
        {% for meme in user.memes %}
            {{ meme_comps.meme_preview(meme) }}
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
<script>
    window.last_meme_id = '{{ user.memes[-1].id }}';
    document.addEventListener('scroll', function () {
      load_new_page();
    }, {
      passive: true
    });
  </script>
{% endblock %}