{% extends 'main_base.html' %}
{% import "components/meme-components.html" as meme_comps %}

{% block title %}{{user.username}}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meme-style.css') }}">
<style>
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .profile-info-box {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .profile-info-box img {
    aspect-ratio: 1;
    max-height: 7rem;
    border-radius: 3.5rem;
    margin: 0 1rem;
  }
  .profile-desc-box p {
    margin: 0;
  }
</style>
{% endblock %}

{%block content %}
<div class="profile-container">
    <div class="profile-info-box">
      <img src="{{ user.profile_image_url }}">
      <div class="profile-desc-box">
        <h3 class="m-0" id="profile-username" data-color="{{user.username_colour}}">{{user.username}}</h3>
        {% if user.description %}
          {% for line in user.description %}
            <p>{{line}}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div id="memes" class="meme-container">
        {% for meme in user.memes %}
            {{ meme_comps.meme_preview(meme) }}
        {% endfor %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/meme-script.js') }}"></script>
<script>
    const title = document.getElementById('profile-username');
    title.style.color = title.getAttribute('data-color');
    window.last_meme_id = '{{ "undefined" if user.memes|length == 0 else user.memes[-1].id }}';
    document.getElementById('memes').addEventListener('scroll', function () {
      load_new_page();
    }, {
      passive: true
    });
  </script>
{% endblock %}