{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}

{%block body %}
<div style="margin: auto; margin-top: 8px; text-align: center;">
    
    <h3 {% if user.username == 'azaher1126' %} style="color: gold;" {% endif %}>{{user.username}}</h3>
    {% for meme in user.memes %}
    <div class="meme">
        <div>
            <a href="/meme/{{meme.id}}" style="text-decoration: none">
                <img class="rounded" style="margin-top: -16px;" src="{{meme.url}}" width="300px" height="300px">
            </a>
            <p id="tags" style="float: left;">
                Tags: {% for tag in meme.tags %} {{tag}} {% endfor %}
            </p>
            <div style="float: right;">
                {% if current_user.id in meme.liked %}
                <a id='like_button{{meme.id}}' href="javascript:unlike({{meme.id}})" style="float:left;">
                    <span id='heart{{meme.id}}' class="fas fa-heart" aria-hidden="true"></span>
                </a>
                {% else %}
                <a id='like_button{{meme.id}}' href="javascript:like({{meme.id}})" style="float:left;"><span
                        id='heart{{meme.id}}' class="far fa-heart" aria-hidden="true"></span></a>
                {% endif %}
                <p id='like_count{{meme.id}}' style="float: left;">{{meme.likes}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}