{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
<meta name="eye-sprite-url" content="{{url_for('static', filename='sprites/eye.svg')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/account-style.css') }}">
{% endblock %}

{% block body %}
<div id="login-box" class="d-flex flex-column align-items-center w-100">
  <h2 class="mt-1 mb-3">Register</h2>
  <form method="POST" class="form account-form needs-validation" novalidate>
    {{ register_form.csrf_token }}
    <div class="form-floating mb-3">
      {{ register_form.first_name(class="form-control") }}
      {{ register_form.first_name.label }}
      <div class="invalid-feedback">Please enter your first name.</div>
    </div>
    <div class="form-floating mb-3">
      {{ register_form.last_name(class="form-control") }}
      {{ register_form.last_name.label }}
      <div class="invalid-feedback">Please enter your last name.</div>
    </div>
    <div class="form-floating mb-3">
      {{ register_form.username(class="form-control") }}
      {{ register_form.username.label }}
      <div class="invalid-feedback">Please enter your new username.</div>
    </div>
    <div class="form-floating mb-3">
      {{ register_form.email(class="form-control") }}
      {{ register_form.email.label }}
      <div class="invalid-feedback">Please enter your email address.</div>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        {{ register_form.password(class="form-control") }}
        {{ register_form.password.label }}
        <div class="invalid-feedback">Please enter a new password at least 7 characters long.</div>
      </div>
      <button class="btn btn-secondary password-visibility-toggle btn-input-height" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"><use href="{{url_for('static', filename='sprites/eye.svg')}}#icon-eye"></use></svg>
      </button>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        {{ register_form.confirm_password(class="form-control") }}
        {{ register_form.confirm_password.label }}
        <div class="invalid-feedback">Passwords must match.</div>
      </div>
      <button class="btn btn-secondary password-visibility-toggle btn-input-height" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"><use href="{{url_for('static', filename='sprites/eye.svg')}}#icon-eye"></use></svg>
      </button>
    </div>
    <div class="mb-3">
      {{ register_form.captcha }}
    </div>
    <div class="text-center mb-2">
      {{ register_form.submit(class="btn btn-primary") }}
    </div>
  </form>
  <p>Already have an account? <a class="text-primary" href="/login">Login</a></p>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="module" src="{{ url_for('static', filename='js/form-script.js') }}"></script>
{% endblock %}