{% import "components/message-components.html" as message_comps %}
{% import "components/nav-components.html" as nav_comps %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %} | memebank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>

<body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-md navbar-dark px-3 secondary-background">
        <a href="/" class="navbar-brand">memebank</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                {{ nav_comps.navbar_link("/upload", "Upload Meme")}}
                {{ nav_comps.navbar_link("/about", "About")}}
            </div>
            <div class="d-flex navbar-item">
                <form class="d-inline-flex me-1" action="/search" method="GET">
                    <input name="search" type="text" class="form-control mr-sm-2" placeholder="Search Tags"
                        control-id="ControlID-1" required>
                    <button type="submit" class="btn btn-outline-light mx-1" control-id="ControlID-2">Search</button>
                </form>
                <div class="navbar-item ml-2 dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-dark d-flex align-items-center h-100" type="button" id="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="21" height="21" fill="currentColor"><use href="{{url_for('static', filename='sprites/main-icons.svg')}}#nav-account-icon"></use></svg>
                    </button>
                    {% if current_user.is_authenticated == True %}
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown">
                        <p class="text-dropdown-item">{{current_user.username}}</p>
                        <a class="dropdown-item" href="/profile/{{current_user.username}}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/logout?next={{ request.full_path }}">Logout</a>
                    </div>
                    {% else %}
                    <div class="dropdown-menu dropdown-menu-end" style="width: 300px;">
                        <form class="px-3 py-2" action="/login?next={{ request.full_path }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="nav-login-email" name="username_or_email" placeholder="Email or Username"/>
                                <label for="nav-login-email">Email or Username</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" id="nav-login-password" name="password" placeholder="Password"/>
                                <label for="nav-login-password">Password</label>
                            </div>
                            <div class="mb-2 d-flex align-items-center">
                                <input id="nav-login-remember-me" name="remember_me" type="checkbox">
                                <label for="nav-login-remember-me" class="mb-0 ms-1">Remember Me</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/register">New around here? Sign up</a>
                        <a class="dropdown-item" href="/forget_password">Forget password?</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!--navbar end -->
    <!--Messages Start-->
    <div id="messages-container">
    {% with messages = get_flashed_messages(with_categories=true)%} 
        {% if messages %}
            {% for category, message in messages %}
                {{ message_comps.message_banner(category, message) }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <!--Messages End-->
    <div class="content-container">
        {% block body %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>

</html>